$black: #08080c;
$red: #e2230d;
$orange: #ebb83d;
$yellow: #ffea8b;
$gray: #bbbbbd;
$light: #dadada;
$rosee: #ffe3e3e0;
$green: #8ab61e;

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@keyframes shake {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}
.spacer {
  flex: 1;
}

:host ::ng-deep #loadWait {
  top: -30px;
  z-index: 100;
  width: 100%;
  height: 400%;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  display: none;
  mat-spinner {
    margin-top: 12%;
    width: 100% !important;
    min-height: 500px !important;
    svg {
      margin: 15% auto auto 45%;
      circle {
        stroke: $orange;
      }
    }
  }
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150px;
  display: flex;
  align-items: center;
  background-color: white;
  color: $black;
  padding: 0 10px 0 0;

  div {
    &.uppart {
      font-family: "Roboto", sans-serif;
      position: relative;
      top: -15px;
      text-align: right;
      right: 15px;
      span {
        position: relative;
        right: 10px;
        font-size: 14px;
      }
      i {
        position: relative;
        top: 3px;
        font-size: 20px;
        &:hover {
          cursor: pointer;
          color: $orange;
        }
      }
    }
    &.downpart {
      position: relative;
      right: 15px;
      top: -5px;
    }
    &.add {
      display: inline-block;
      position: relative;
      left: -15px;
      border-radius: 5px;
      padding: 10px 30px 10px 33px;
      text-align: center;
      background-color: $orange;
      color: white;
      font-family: "Roboto", sans-serif;
      span {
        position: relative;
        left: 3px;
        top: -4px;
      }
      img {
        width: 22px;
        position: relative;
        top: 2px;
        right: 3px;
      }
      &:hover {
        cursor: pointer;
        transform: translateY(-1px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      }
    }
    &.users {
      display: inline-block;
      position: relative;
      top: 5px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: $red;
      img {
        width: 40px;
        position: relative;
        left: 4.5px;
        top: 2.5px;
      }
      &:hover {
        cursor: pointer;
        transform: translateY(-1px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      }
    }
  }
  #logo-img {
    width: 150px;
    &:hover {
      cursor: pointer;
    }
  }
}

.dark-background {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100%;

  #addPopup {
    font-family: "Roboto", sans-serif;
    width: 60%;
    margin: 8% auto;
    border: 2px solid $orange;
    background-color: white;
    &.alertActive {
      border: 3px solid $red;
      box-shadow: 0 4px 17px rgba(255, 255, 255, 0.712);
    }
    .popupHeader {
      border: 2px solid $orange;
      padding: 18px;
      text-align: center;
      color: white;
      background: $orange;
      font-weight: 600;
      font-size: 20px;
      .fas {
        position: relative;
        float: right;
        font-size: 30px;
        margin-top: -5px;
        &:hover {
          cursor: pointer;
          color: $rosee;
        }
      }
    }
    .popupBody {
      padding: 30px;
      text-align: center;
      .alert {
        font-size: 16px;
        .fa-exclamation-circle {
          color: $red;
          font-size: 30px;
          position: relative;
          top: 4px;
          right: 6px;
        }
        span {
          font-size: 20px;
          font-weight: 600;
        }
      }
      button.btn {
        border: 1.5px solid $yellow;
        border-radius: 8px;
        background-color: $orange;
        color: white;
        padding: 8px;
        width: 110px;
        margin: 20px 8px 0;
        font-size: 14px;
        transition: all 0.2s ease-in-out;
        &.save:hover {
          background-color: $green;
          border: 1.5px solid rgb(177, 255, 113);
        }
        &:hover {
          cursor: pointer;
          transform: translateY(-3px);
          box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
        }
      }

      #form-container {
        input:not(.inputfile) {
          margin-left: 10px;
          border: none;
          border-bottom: 1px dotted $orange;
          &:focus {
            outline: 0;
          }
        }
        select {
          margin-left: 10px;
          border: none;
          &:hover {
            color: $orange;
            cursor: pointer;
          }
          &:focus {
            outline: 0;
          }
        }
        div {
          display: inline-block;
          margin-bottom: 20px;
          &.champ {
            text-align: left;
          }
          &#nbmasque {
            input {
              width: 50px;
            }
          }
        }
        fieldset {
          border: 1px solid $orange;
          height: 180px;
          overflow-y: scroll;
          span {
            font-size: 12px;
          }
          .labelinput {
            display: block;
          }
          .input-file-trigger {
            display: inline-block;
            width: 120px;
            background: $orange;
            color: #fff;
            font-size: 13px;
            height: 30px;
            line-height: 30px;
            cursor: pointer;
            border-radius: 5px;
            margin: 5px 5px;
          }
          .input-file {
            position: absolute;
            top: 0;
            left: 0;
            width: 225px;
            opacity: 0;
            padding: 14px 0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
