<app-toolbar></app-toolbar>
<div class="content">

    <div class="menu">
        <div class="card" id="interv">
            <img src="assets/images/fire-station.png" alt=interventions/>
            <h1>INTERVENTIONS</h1>
            <span class=detail>Consultez et compléter le détail de chaque intervention</span>
            
            <a routerLink="/historique">
                <button>Voir</button>
            </a>
            <span id=alert>1 intervention non complétée</span>
        </div>
        <div class="card" id="interp">
            <img src="assets/images/stats.png" alt=interpretation/>
            <h1>INTERPRETATION</h1>
            <span class=detail>Le port de la barbe réduit l'étanchéité du masque</span>
            <a routerLink="/interpretation">
                <button>Voir</button>
            </a>
        </div>
    </div>
</div>

